{{#link-to 'performances.show' performance}}
  <div class="media-left">
    <img class="media-object hidden-xs img-thumbnail" src={{performance.imageURL}} />
  </div>

  <div class="media-body">
    <h3 class="media-heading">{{performance.title}}</h3>
    <p>{{performance.formattedDate}}</p>

    {{#link-to 'index' class='btn btn-warning'}}Edit{{/link-to}}
    <button {{action "delete" bubbles=false}} class="btn btn-danger">Delete</button>
  </div>
{{/link-to}}