<div id="registration-form" class="center-form">
  <div class="form-text text-center">
    <h1>Welcome to Kamaete!</h1>
    <p>Please enter your information below to create an account.</p>
  </div>

  {{registration-form action="register"}}
</div>