<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Kamaete</h1>
    <p>Tired of spending hours creating song layouts and assignments by hand?
    Take your drum movements into the future with Kamaete, a modern solution to
    planning stage transitions.</p>
    <p>{{#link-to 'register' class="btn btn-primary btn-lg"}}Try free now!{{/link-to}}</p>
  </div>
</div>