<div id="new-performance-form" class="center-form">
  <div class="form-text text-center">
    <h1>New Performance</h1>
    <p>Please enter the performance information below.</p>
  </div>

  {{new-performance-form performanceCreated='viewPerformance'}}
</div>