<h1 class="text-center">Your confirmation email is on its way! <span class="glyphicon glyphicon-send" aria-hidden="true"></span></h1>

<p class="text-center">Thank you for joining <b>Taiko Transitions</b>! Please check your email and follow the included link to finish setting up your
account.</p>